<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
       {# menu principal #}
        {{render(controller('App\\Controller\\BarController:mainMenu', {
            'routeName' : app.request.attributes.get('_route'),
            'params' : app.request.attributes.get('_route_params')?? null
        }))}} 
        {% block body %}{% endblock %}
       {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>